authentication = {
  client_id                   = ""
  subscription_id             = ""
  tenant_id                   = ""
  client_certificate_password = ""
}

sql_server = {
  username = ""
  password = ""
}
